<html ng-app="tcdash">
	<head>
		<title>tcdash</title>
		<script src="/dash/angular-1.6.7.min.js"></script>
		<script src="/dash/app.js"></script>
		<link href="/dash/styles/styles.css" rel="stylesheet" />
	</head>

	<body ng-controller="MainController">
		<div class="builds-block builds-to-show" ng-if="state === 'builds'">
			<div class="build" ng-repeat="build in builds">
				<div ng-hide="build.status == 'RUNNING'">
					<h2>{{build.name}}</h2>
					<div class="status" ng-class="build.status">{{build.status}}</div>
					<div class="branch" ng-if="build.branch">
						<label>Branch</label>
						<span>{{build.branch}}</span>
					</div>
					<div class="changes" ng-if="build.lastChanges">
						<label>Last updatedb by</label>
						<span>{{build.lastChanges}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="logs" ng-if="state === 'logs'">
			<iframe src="https://metrics.ebros.lt/d/upir1fLiz/raspberry?orgId=1&refresh=5m&from=now-24h&to=now"></iframe>
		</div>
		<div class="logs" ng-if="state === 'tsla'">
			<iframe src="https://www.marketwatch.com/investing/stock/tsla"></iframe>
		</div>
	</body>
</html>
