@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #404040;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
}

// Builds block

.builds-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.build {
		color: #07bf74;
		background-color: #5f5f5f;
		text-transform: uppercase;
		width: 49%;
		float: left;
		margin: 0.5%;
		padding: 20px;
		box-sizing: border-box;
		text-align: center;

		h2 {
			color: #ffffff;
			font-size: 3vw;
			margin-bottom: 0;
			letter-spacing: 0.2vw;
		}
	}
}

.status {
	color: #07bf74;
	font-size: 12vw;
	margin: -1vw 0;
	letter-spacing: -0.2vw;	
}

.FAILED {
	color: #ea0e3f;
}

.RUNNING {
	color: #b1d4f3;
}

.branch {
	font-size: 2vw;

	span {
		color: #ffffff;
	}
}

.changes {
	font-size: 2.5vw;
}

.build label {
	color: #afafaf;
	margin-right: 2px;
}

.build-types {
	width: 45vw;
	float: left;
	padding-left: 20px;
}

.logs {
	width: 100%;
	height: 100%;

	iframe {
		width: 50%;
    height: 50%;
    border: none;
		transform: scale(2);
		transform-origin: 0 0;
	}
}